@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基础样式优化 */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
